# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio / VS Code
.vs/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
ENV/
build/
dist/
*.egg-info/

# Node
node_modules/

# Logs
*.log

# Environment
.env

# Mac
.DS_Store

# Others
*.class
*.jar
